html, body {
    background-color: #8AC1CF;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-container {
    width: 550px;
    background-color: #FFFFFF;
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
}

#location {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;;
}

#time {
    font-weight: 300;
}

#temp {
    display: flex;
    flex-direction: row;
}

#degrees {
    font-size: 55px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

#pic {
    max-width: 100px;
    max-height: 100px;
    margin-top: -5px;
}

#description {
    margin-top: -10px;
    font-size: 20px;;
}

#detail-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    font-size: 20px;
}

#left, #right {
    width: 48%;
}

.left-lines, .right-lines {
    border: 1px solid #DEDEDE;
    padding: 10px 5px;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
}

#high-low, #cloudiness {
    border-top: none;
}

#cloudiness {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.icons {
    max-width: 25px;
    max-height: 25px;
}

.arrow {
    transform: rotate(22deg);
    margin-top: -3px;
    margin-bottom: 0px;
}

.left-detail, .right-detail {
    display: flex;
    align-items: center;
}

.right-detail {
    width: 40%;
    justify-content: flex-end;
    align-items: center;
}

.detail-text {
    padding-left: 10px;
    white-space: nowrap;
}

#btn-container {
    display: flex;
    position: absolute;
    right: 15px;
    top: 20px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #2d2d2d;
}

#farenheit-btn {
    color: red;
    border-radius: 15px 0px 0px 15px;
    border-right: none;
}

#celcius-btn {
    color: blue;
    border-radius: 0px 15px 15px 0px;
}

.active {
    background-color: lightgray;
}

#search-bar {
    display: flex;
    width: 300px;
    margin-bottom: 50px;
}

#search-icon-container {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #DEDEDE;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #2d2d2d;
    padding: 10px 5px;
    cursor: pointer;
}

#search-icon {
    height: 25px;
    width: 25px;
}

#form-container {
    width: 100%;
}

#search-form {
    width: 100%;
    height: 47px;
    box-sizing: border-box;
    font-size: 20px;
    padding: 0px 15px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #2d2d2d;
}

#search-form:focus, #search-icon-container:focus {
    outline: none;
}
